
<br>
<br>

<p>Joel's Pet Stay</p>

<table border="1px">
<tr>
    <td class="address">
        Address
    </td>
    <td>
        <address>
            Khoraj Zundal Road,<br>
            Khoraj Gaam,<br>
            Ahmedabad 382421
        </address>
    </td>
</tr>
<tr>
    <td>
        Contact number 
    </td>
    <td>
        +91 9510866759
    </td>
</tr>
<tr>
    <td>
        E-mail     
    </td>
    <td>
        joelspetstay@gmail.com
    </td>
</tr>

</table>

<br>

<p id="mapText">Click on the image below to see directions in Google Maps.</p>

<div id="map">

    <a href="https://www.google.com/maps/place/23%C2%B008'37.8%22N+72%C2%B033'55.9%22E/"><img src="assets/images/map.png" alt="Map"></a>
</div>


