#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  agm-map{
    height: 60%;
    /* The height is 400 pixels */
    width: 60%;
    /* The width is the width of the web page */
}
p{
    font-size: 20px;
}
.address{
    align-content: left;
}