
<br>
<br>

<table>
<tr>
    <td colspan=2>
        <b>Joel's Pet Stay</b>
    </td>
</tr>
<tr>
    <td class="address">
        Address
    </td>
    <td>
        sample sample sample sample sample sample sample sample sample
    </td>
</tr>
<tr>
    <td>
        Contact number 
    </td>
    <td>
        +91 9510866759
    </td>
</tr>
<tr>
    <td>
        E-mail     
    </td>
    <td>
        joelspetstay@gmail.com
    </td>
</tr>

</table>

<br>

<div id="map">

    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
</div>


