<br>
<br>
<h4>Amenities</h4>
<ul>

    <li>Big Playing Area</li>
    <li>Pet Day Care</li>
    <li>Big Personal Cabin for Pets</li>
    <li>Swimming Pool</li>
    <li>Noise & Pollution Free Facility</li>
    <li>Pet Grooming</li>
    <li>Pet Training</li>
    <li>Pick and Drop Facility</li>

</ul>

<h4>Services</h4>


<table border="1px">
    <tr>
        <td>
            Dog Stay 
        </td>
        <td>
            Rs.555 per day
        </td>
    </tr>
    <tr>
        <td>
            Pet Day Care     
        </td>
        <td>
            Rs.250 per day
        </td>
    </tr>
    
    </table>