ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overlap issues position: absolute;*/
  }
li{
  z-index: 1;
}
  #burger{
    margin-top: 5px;;
    text-align: left;
    background-color: rgba(196,198,159,255);
  }
.hamburger-box{
  height: 100%;
  padding: 5px;
 
}
.mobnavInner{
  
}
  .logo {
    width: 100%;
    float: left;
    clear: both;
  }
  .navbar{
    background-color:rgb(195,196,157);
  }
  .deskNav{
    font-size: 32px;
    
  }
  .mobNav{
    background-color: rgba(196,198,159,255);
    
  }
  #mobileBanner{
    margin-left: -50px;
    z-index: -0;
  }
  .wrapper {background:transparent url('/assets/images/logo.png') no-repeat center center;
    height: inherit;
    object-fit: contain;
  }
  footer {
    background: #061D25;
    color: chartreuse;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
  footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  footer a:first-child {
    border-left: 1px solid #70726F;
  }
  footer a:hover {
    color: white;
  }

  .mobNavList{
    margin-left: 15%;
  }
.foot{
  height: 50px;
}