ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #burger{
    text-align: left;
    background-color: lightblue;
  }
  #mobileBanner{
    background-color: lawngreen;
  }

  li{
    background-color: lightcoral;
  }