ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #burger{
    margin-top: 5px;;
    text-align: left;
    background-color: rgba(196,198,159,255);
  }

  img {
    width: 100%;
    float: left;
    clear: both;
  }
  .navbar{
    background-color:rgb(195,196,157);  
  }
  .deskNav{
    font-size: 32px;
  }
  .mobNav{
    background-color: rgba(196,198,159,255);
  }
